<a href="https://github.com/jamestaylr">&#xe037;</a>
<a href="http://stackoverflow.com/users/1944335/james-t">&#xe081;</a>
<a href="http://instagram.com/jamestaylr">&#xe100;</a>

<p><span>Designed in Blacksburg, VA. Assembled by Node using Express and EJS.</span></p>