<meta charset="UTF-8">
<title>James Taylor | Portfolio Website</title>

<meta name="viewport" content="width=device-width">

<!-- JS Dependencies -->
<script type="text/javascript" src="resources/js/paper.js"></script>

<link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>

<!-- CSS -->
<link href="resources/css/reset.css" rel="stylesheet" type="text/css">
<link href="resources/css/style.css" rel="stylesheet" type="text/css">
<link href="resources/css/footer.css" rel="stylesheet" type="text/css">
<link href="resources/css/icons.css" rel="stylesheet" type="text/css">